.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.125;
  margin-right: 18px;
  transition: 0.5s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .footer__link {
    margin: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
}
