.lead__title {
  max-width: 720px;
  text-align: center;
  margin: 0;
  line-height: 1.04;
  font-size: 96px;
  font-weight: 900;
}

@media screen and (max-width: 640px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
