.intro {
  margin: 0 auto;
  max-width: 984px;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 93.75%;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-top: 64px;
    max-width: 90%;
    font-size: 32px;
    line-height: 35px;
  }
}

