.cover {
  max-width: 1184px;
  max-height: 740px;
  min-height: 200px;
  height: calc(60vw);
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 90px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 630px) {
  .cover {
    padding-top: 66px;
    padding-bottom: 64px;
  }
}

