.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__overlay::before {
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}
