.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 560px;
  z-index: 1;
}

@media screen and (max-width: 630px) {
  .cover__title {
    font-size: 32px;
    max-width: 288px;
  }
}

